In [48]:
import pandas as pd
import geocoder

In [49]:
df = pd.read_csv('taxi-zone-lookup.csv',header='infer')

In [51]:
print geocoder.google('EWR Newark Airport').lat
print geocoder.google('EWR Newark Airport').lng

40.6895314
-74.1744624

In [55]:
def gen_cor(row):
    s = row['Borough'] + ' ' + row['Zone']
    g = geocoder.google(s)
    return g.lat, g.lng

df['Lat'], df['Lon'] = zip(*df.apply(lambda row: gen_cor(row),axis=1))

   LocationID        Borough                     Zone        Lat        Lon
0           1            EWR           Newark Airport  40.689531 -74.174462
1           2         Queens              Jamaica Bay  40.605663 -73.871310
2           3          Bronx  Allerton/Pelham Gardens  40.865160 -73.842673
3           4      Manhattan            Alphabet City  40.725843 -73.977492
4           5  Staten Island            Arden Heights  40.556795 -74.173906

In [59]:
df.set_index('LocationID', inplace=True)
df.head()

                  Borough                     Zone        Lat        Lon
LocationID
1                     EWR           Newark Airport  40.689531 -74.174462
2                  Queens              Jamaica Bay  40.605663 -73.871310
3                   Bronx  Allerton/Pelham Gardens  40.865160 -73.842673
4               Manhattan            Alphabet City  40.725843 -73.977492
5           Staten Island            Arden Heights  40.556795 -74.173906

In [60]:
df.to_csv('taxi-zone-coordinates.csv')